spring:
  config:
    activate:
      on-profile: dev

  # Redis
  data:
    redis:
      host: localhost
      port: 6379

  datasource:
    # MySQL
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/coretime_db?&serverTimezone=Asia/Seoul
    username: root
    password: test1234

  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    open-in-view: false
    show-sql: true
    hibernate:
      ddl-auto: update
      format-sql: true

jwt:
  secret: vms7026your-very-long-and-secure-random-secret-key-for-jwt # 32자 이상 권장
  access-expiration: 3600000 # 1시간
  refresh-expiration: 1209600000 # 14일